<footer>
    <div class="footer-body">
        <p> @ Coding Ninjas . All Right Reserverd </p>
        <div class="footer-link">
            <a href="/">Home</a>
            <a href="/users/profile"> Profile </a>
        </div>
    </div>
</footer>